/* Add a background color and some padding around the form */
.contact-form {
  position: relative;
  border-radius: 5px;
  font-size: 1.8rem;
  margin-bottom: 50px;
}

.contact-form__label{
  padding-left: 3px;
}

.contact-form__asteriks{
  color: #C2161B;
  font-weight: 700;
}

/* Style inputs with type="text", select elements and textareas */
.contact-form__input[type="text"],
.contact-form__select,
.contact-form__textarea {
  width: 100%; /* Full width */
  padding: 6px; /* Some padding */
  border: 1px solid #a1bbc7; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  box-shadow: 0 2px 6px 0 #a1bbc7 inset;
  transition: 100ms;
  font-size: 1.6rem;
  color: hsl(199, 52%, 22%);
}

.contact-form__input[type="text"]:focus,
.contact-form__select:focus,
.contact-form__textarea:focus {
  outline: none;
  border-bottom: 2px solid #1b4356;
}

.contact-form__bottom-row-wrapper{
display: flex;
align-items: center;
justify-content: space-between;
}

/* Style the submit button with a specific background color etc */
button[type="submit"] {
  background-color: #1b4356;
  color: rgb(248, 248, 248);
  font-size: 1.6rem;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
button[type="submit"]:hover {
  background-color: #132e3a;
}
button[type="submit"]:focus {
  background-color: #132e3a;
  border-radius: 4px;
}

.contact-form__required-fields-warning{
font-size: 1.6rem;
color: #C2161B;
text-align: center;
opacity: 0;
}

.contact-form__send-warning{
font-size: 1.6rem;
color: #C2161B;
text-align: center;
}

.contact-form__send-success{
font-size: 1.6rem;
color: #00751F;
text-align: center;
opacity: 0;
}

.contact-form__letter-illu-wrapper{
  height: 40px;
}

.contact-form__letter-illu{
height: 40px;
}