/* Rotations */

.rotate-origin-bottom-left {
  transform-origin: bottom left;
}

.rotate-origin-bottom-right {
  transform-origin: bottom right;
}

.rotate-clockwise-15-degree {
  transform: rotate(15deg);
}
.rotate-clockwise-30-degree {
  transform: rotate(30deg);
}

.rotate-clockwise-45-degree {
  transform: rotate(45deg);
}

.rotate-clockwise-60-degree {
  transform: rotate(60deg);
}

.rotate-clockwise-90-degree {
  transform: rotate(90deg);
}

.rotate-clockwise-135-degree {
  transform: rotate(135deg);
}
.rotate-counter-clockwise-15-degree {
  transform: rotate(-15deg);
}
.rotate-counter-clockwise-30-degree {
  transform: rotate(-30deg);
}

.rotate-counter-clockwise-45-degree {
  transform: rotate(-45deg);
}

.rotate-counter-clockwise-60-degree {
  transform: rotate(-60deg);
}

.rotate-counter-clockwise-90-degree {
  transform: rotate(-90deg);
}

.rotate-counter-clockwise-135-degree {
  transform: rotate(-135deg);
}

.rotate-counter-clockwise-180-degree {
  transform: rotate(-180deg);
}

/*  Translations */

.translate-x-minus-25-px {
  transform: translateX(-25px);
}

.translate-x-plus-25-px {
  transform: translateX(25px);
}

.translate-x-minus-50-px {
  transform: translateX(-50px);
}

.translate-x-plus-50-px {
  transform: translateX(50px);
}

.translate-x-minus-75-px {
  transform: translateX(-75px);
}

.translate-x-plus-75-px {
  transform: translateX(75px);
}






/* FILTERS */

/*  Blur */
.blur-0{
  filter: blur(0);
}
.blur-1{
  filter: blur(1px);
}

.blur-2{
  filter: blur(2px);
}

.blur-3{
  filter: blur(3px);
}

.blur-4{
  filter: blur(4px);
}

.increase-opacity{
  opacity: 1;
}

.scale-down{
  transform: scale(0.75);
}

.scale-up{
  transform: scale(1.25);
}