:root{

--main-drop-shadow: drop-shadow(10px 40px 30px rgba(0, 0, 0, 0.75));
}

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Mukta', Helvetica, sans serif;
    color: #1B4356;
    overflow-x: hidden;
    -webkit-transition: all 400ms; /* Safari */
    -moz-transition: all 400ms; /* mozilla */
    -o-transition: all 400ms; /* opera */
    transition: all 400ms;
}

ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
}

footer{
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    background-color: #a1bbc7;
    text-align: center;
    font-size: 1.5rem;
    padding: 10px;
}

img{
    border-radius: 4px;
}